<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AUTO_AUTHENTICATION</key>
	<string>$(AUTO_AUTHENTICATION)</string>
	<key>BASE_HOST</key>
	<string>$(BASE_HOST)</string>
	<key>BASE_PATH</key>
	<string>$(BASE_PATH)</string>
	<key>BIOMETRIC_AUTHENTICATION</key>
	<string>$(BIOMETRIC_AUTHENTICATION)</string>
	<key>EXCEPTIONS_LIST</key>
	<string>$(EXCEPTIONS_LIST)</string>
	<key>EXTERNAL_HOST</key>
	<string>$(EXTERNAL_HOST)</string>
	<key>SHOW_PATH</key>
	<string>$(SHOW_PATH)</string>
	<key>TOOLBAR_ITEMS</key>
	<string>$(TOOLBAR_ITEMS)</string>
</dict>
</plist>
